body {
    background-image: url('404Wp.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;    
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;                
  }

  #b404Back {
    position: fixed;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #87CEFA;
    color: black;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  #b404Back:active {
    transform: translateX(-50%) scale(0.95);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
  
