body {
    background-image: url('Trivia_GameP.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;    
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;                
  }

  body {
    background-image: url('Trivia_GameP.png'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    height: 100vh;
    direction: rtl;
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .answer {
  position: absolute;
  width: 24%;
  padding: 1em 0;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  cursor: pointer; 
  transition: transform 0.2s, opacity 0.2s;
}


.answer:hover {
  transform: scale(1.05);
  opacity: 0.9;
}


.answer:active {
  transform: scale(0.98);
}

  
  .answer.blue {
    top: 49%; 
    left: 22%;
    background-color: rgba(0, 153, 255, 0.6);
    border: 2px solid #00ccff;
  }
  
  .answer.green {
    top: 49%; 
    left: 56%;
    background-color: rgba(0, 255, 102, 0.6);
    border: 2px solid #00ff66;
  }
  
  .answer.red {
    top: 67%; 
    left: 22%;
    background-color: rgba(255, 51, 51, 0.6);
    border: 2px solid #ff3333;
  }
  
  .answer.yellow {
    top: 67%; 
    left: 56%;
    background-color: rgba(255, 255, 0, 0.6);
    border: 2px solid #ffff00;
  }

  .question {
    position: absolute;
    top: 25%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
  
  #timer {
  position: fixed;
  top: 50px;
  right: 140px;
  font-size: 48px;
  font-weight: bold;
  color: white;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 1000;
}

.modal {
  background: #f0f4ff;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 20px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: right;
  direction: rtl;
  border: 3px solid black;
  }

.modal div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.modal span:first-child {
  font-weight: bold;
}

.modal span:last-child {
  color: #0092cc;
}

#bExit {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#bExit:hover {
  background-color: #005fa3;
}

  